
body {
    font-family: helvetica;
    margin: 0px;
    font-size: 1.25vw;
}

p {
    font-size: 0.75em;
}

#logo{
    margin: 20px 20px 20px 20px;
    padding: 5px;
    font-family: "Roboto";
    width: 20%;
    text-shadow: 
        -1px -1px 0 black,   /* Top left shadow */
        1px -1px 0 black,    /* Top right shadow */
        -1px 1px 0 black,    /* Bottom left shadow */
        1px 1px 0 black;     /* Bottom right shadow */
}

ul{
    margin: 0px;
}

body > header {
    background-color: rgb(14, 186, 34);
    color:white
}

body> header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px,solid, white;
    border-radius: 5%;
}

body > main article {
    width: 80%;
    margin: auto;
}

header img {
    padding: 15px;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(14, 186, 34);
    display: flex;
}

img {
    border-radius: 100%;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 20px;
}

#footer-ul > div >li > a {
    color: white;
    text-decoration: none;
}

